/* ---------------------- IMPORTS */


/* ---------------------- BASIC SETUP */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    /* font-family: ; */
    /* font-size: ; */
    height: 100vh;
}


/* ---------------------- BG COLOURS */

.main--bg-blue-green{
    background-color: #6397a8;
}

.footer--bg-blue-black{
    background-color: #03262d;
}


/* ---------------------- HEADER */

/* Photo by <a href="https://unsplash.com/@lois184?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Louis Droege</a> on <a href="https://unsplash.com/s/photos/scenary?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
header{
    height: 50vh;

    background-image: linear-gradient(rgba(241, 251, 255, 0.1),rgba(241, 251, 255, 0.1)), url("../images/home-bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: #fff;

    display:grid;
    grid-template-rows: 1fr 5fr;
}

header h1{
    justify-self: center;
    align-self: center;
    
}



/* ---------------------- MAIN */

main{
    height: 45vh;
    border: 3px solid #fff;
    padding: 1em;

}


/* ---------------------- BLOG TILES */

.blog-tiles-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;

    padding-top: 1em;
}

/* using a reduced version of the blog image here */
/* Photo by <a href="https://unsplash.com/@sincerelymedia?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sincerely Media</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
.blog-tile{

    color: #03262d;
    height: 60%;
    overflow: hidden;

    background-image: linear-gradient(rgba(241, 251, 255, 0.2),rgba(241, 251, 255, 0.2)), url("../images/blog-img-reduced.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border: 2px solid #03262d;
    border-radius: 4px;
}

.blog-tile h3{
    text-align: center;
    padding: 4em;
}

.blog-tile p{
    text-align: center;
    padding: 1em;
}


/* ---------------------- FOOTER */

footer{
    color: #fff;
    height: 5vh;

}


/* ---------------------- NAV */

nav{
    justify-self: center;
    padding:1em;
}



/* ---------------------- LISTS */

.vertical-list li{
    display: inline;
    padding-right: 1em;
}
