/* ---------------------- IMPORTS */


/* ---------------------- BASIC SETUP */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Zilla Slab, sans-serif;
    /* font-size: ; */
    min-height: 100vh;
}


/* ---------------------- BG COLOURS */

.main--bg-blue-green{
    background-color: #6397a8;
}

.footer--bg-blue-black{
    background-color: #03262d;
}


/* ---------------------- HEADER */

/* Photo by <a href="https://unsplash.com/@lois184?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Louis Droege</a> on <a href="https://unsplash.com/s/photos/scenary?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
header{
    height: 50vh;

    background-image: linear-gradient(rgba(241, 251, 255, 0.1),rgba(241, 251, 255, 0.1)), url("../images/home-bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: #fff;

    display:grid;
    grid-template-rows: 1fr 5fr;
}

header h1{
    font-family: Fredoka, sans-serif;

    justify-self: center;
    align-self: center;
}



/* ---------------------- MAIN */

main{
    height: 45vh;
    padding: 1em;

}


/* ---------------------- BLOG TILES */

.blog-tiles-container{
    display: grid;
    /* width */
    grid-template-columns: repeat(4, 1fr);
    /* height */
    height: inherit;

    padding-top: 1em;
    gap: 1em;
}

/* using a reduced version of the blog image here */
/* Photo by <a href="https://unsplash.com/@sincerelymedia?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sincerely Media</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
.blog-tile{
    position: relative;
    /* align-self: center; */

    color: #03262d;
    height: 60%;
    overflow: clip;

    background-image: linear-gradient(rgba(241, 251, 255, 0.4),rgba(241, 251, 255, 0.4)), url("../images/blog-img-reduced.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-radius: 4px;
}

.blog-tile h3{
    font-family: Fredoka, sans-serif;

    height:50%;
    text-align: center;
    padding: 4em;
}

.blog-tile p{
    height: 50%;

    text-align: center;
    padding: 1em;

    background-color: rgba(0, 0, 0, 0.1);
}

.read-more{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    /* right: 50%; */

    color: #fff;
    background-color:rgba(3, 38, 45, 0.8);
}


/* ---------------------- FOOTER */

footer{
    color: #fff;
    height: 5vh;

}


/* ---------------------- NAV */

nav{
    justify-self: center;
    padding:1em;
}



/* ---------------------- LISTS */

.vertical-list li{
    display: inline;
    padding-right: 1em;
}
